AddType application/json .json
AddType text/cache-manifest .manifest

DirectoryIndex index.xhtmlz index.xhtml

<Files *.jsz>
    AddEncoding x-gzip .jsz
    ForceType text/javascript
</Files>

<Files *.cssz>
    AddEncoding x-gzip .cssz
    ForceType text/css
</Files>

<Files *.xhtmlz>
    AddEncoding x-gzip .xhtmlz
    ForceType application/xhtml+xml
</Files>

RewriteEngine On
RewriteRule ^(Home)/?(.+)?$ / [L]
