a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

em {
    font-weight: bold;
}

body {
    background: url("img/bg.png");
    color: #333333;
}

.book {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #ECECE7;
    border-top: none;
    border-bottom: none;
    padding: 0 30px;
    background: #fff;
    box-shadow: 2px 2px 0 rgba(170, 160, 130, 0.5), 4px 4px 0 rgba(200, 190, 165, 0.5);
}

.note {
    background: #eee;
    padding: 5px;
    border: 1px solid #ccc;
}

.titlepage {
}

.toc {
    float: right;
    background: #E4EDF7;
    border: 1px solid #DFE8F2;
    padding: 10px;
}

.toc + * {
    clear: both;
}

.programlisting {
    background: none repeat scroll 0 0 #E4EDF7;
    border: 1px solid #CCCCCC;
    margin: 0 0.5in;
    padding: 5px 0;
}

dt {
    font-weight: bold;
}

dd {
    display: inline-block;
    /*margin: 0;*/
}